<div id="newsCarousel" class="carousel slide" data-ride="carousel" data-interval="7000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/8-2-2016-Kenny.jpg" >
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/2016072695174452.jpg">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/Ellithorpe 100.jpg">
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/FullSizeRender.jpg">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0001.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/image1.jpeg" >
        </div>

      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0002.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0003.JPG">
       </div>

        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/IMG_0004.JPG" >
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0006.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0007.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0008.JPG">
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/IMG_0009.JPG" >
        </div>

       <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0010.JPG">
       </div>

       <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0012.JPG">
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0013.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/IMG_0014.JPG" >
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0015.JPG">
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0018.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0025.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/IMG_0026.JPG" >
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0032.JPG">
       </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0034.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0049.JPG">
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/IMG_0050.JPG" >
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0052.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0144.JPG">
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_0150.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/IMG_2405.JPG" >
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_3441.JPG">
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_6034.jpg">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/IMG_6036.jpg" >
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_6238.JPG">
       </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_6239.JPG">
       </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_6336.jpg">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block"src="/images/newsfeed/IMG_6337.jpg" >
        </div>
      </div>

      <div class="item">
        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_6340.JPG">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/IMG_6469.jpg">
        </div>

        <div class="col-md-4">
          <img class="img-responsive center-block" src="/images/newsfeed/1.jpeg">
        </div>


    </div>

  <a class="left carousel-control" href="#newsCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#newsCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>