<div class = "badges-title">Badges & Achievements</div>
<div class = "badges-wrapper">
<ul>
		<li>
			<img src="/images/buck_medal.png" class = "badges-image">
			<p><b>First Buck</b></p>
		</li>
		<li>
			<img src="/images/medal-shop.png" class = "badges-image">
			<p><b>First Purchase</b></p>
		</li>
		<li>
			<img src="/images/medal_rafael.png" class = "badges-image">
			<p><b>Buck from Rafael</b></p>
		</li>
</ul>
</div>


<div class = "achievement-wrapper">
	<div class = "title-holder">
		<div class = "title">Attendance</div>
	</div>
	<div class = "main-holder">
		<img src="/images/trophy-bronze-star.png" class = "achievement-image"/><br>
		<b>4</b>
	</div>

	<div class = "all-holder">
		<img src="/images/trophy-bronze-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
	</div>
</div>

<div class = "achievement-wrapper">
	<div class = "title-holder">
		<div class = "title">Community Involvement</div>
	</div>

	<div class = "main-holder">
		<img src="/images/trophy-silver-star.png" class = "achievement-image"/><br>
		<b>8</b>
	</div>

	<div class = "all-holder">
		<img src="/images/trophy-bronze-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-silver-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
	</div>
</div>

<div class = "achievement-wrapper">
	<div class = "title-holder">
		<div class = "title">Customer Service</div>
	</div>
	<div class = "main-holder">
		<img src="/images/trophy-grey.png" class = "achievement-image-locked"/><br>
		<b>0</b>
	</div>

	<div class = "all-holder">
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
	</div>
</div>

<div class = "achievement-wrapper">
	<div class = "title-holder">
		<div class = "title">Shift Coverage</div>
	</div>
	<div class = "main-holder">
		<img src="/images/trophy-gold-star.png" class = "achievement-image"/><br>
		<b>27</b>
	</div>

	<div class = "all-holder">
		<img src="/images/trophy-bronze-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-silver-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-gold-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
	</div>
</div>

<div class = "achievement-wrapper">
	<div class = "title-holder">
		<div class = "title">Other</div>
	</div>
	<div class = "main-holder">
		<img src="/images/trophy-silver-star.png" class = "achievement-image"/><br>
		<b>10</b>
	</div>

	<div class = "all-holder">
		<img src="/images/trophy-bronze-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-silver-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
	</div>
</div>

<div class = "achievement-wrapper">
	<div class = "title-holder">
		<div class = "title">A+ Service</div>
	</div>
	<div class = "main-holder">
		<img src="/images/trophy-silver-star.png" class = "achievement-image"/><br>
		<b>3</b>
	</div>

	<div class = "all-holder">
		<img src="/images/trophy-bronze-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-silver-star.png" class = "achievement-image-spaced"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
		<img src="/images/trophy-grey.png" class = "achievement-image-spaced-locked"/>
	</div>
</div>