<div class = "home-container">
	<div class = "home-center">

		<div class = "home-wrapper">
			<div class = "home-wrapper-title">Latest News</div>

			<div class = "home-news-large">
				<div class = "title">Bucks App Goes Live For Testing</div>
				<div class = "date">August 15, 2016</div>
				<img src = "/images/casino-sign.jpg" class = "photo" >

				<div class = "text">
					The Taking Care of Business Bucks program is just beginning the start of the release stage of Pase 1. Phase one oncludes a web application that is accessible online through any web browser. From here you will be able to view your earned bucks, browse the bucks store, purchase items with earned bucks, and distribute bucks if you have such permissions.<br><br>

					Phasellus consectetur semper ex sed vehicula. Mauris porttitor mattis ornare. Vestibulum sit amet sem varius, facilisis nunc vel, mollis nulla. Integer pellentesque ante arcu, quis aliquet erat vestibulum dapibus. Sed blandit urna a ipsum elementum, non porta urna semper. Sed cursus id mauris sit amet rutrum. Sed fringilla erat lectus, in molestie magna bibendum quis. Nulla facilisi. Proin congue augue non hendrerit imperdiet. Nam ipsum dolor, eleifend viverra mauris ac, accumsan accumsan nisi.
				</div>
			</div>

			<div class = "home-news-small">
				<div class = "title">Wardrobe Now Home of the New Bucks Store</div>
				<div class = "date">June 18, 2016</div>
			</div>

			<div class = "home-news-small">
				<div class = "title">Beginning Construction of Bucks App!</div>
				<div class = "date">May 31, 2016</div>
			</div>

		</div>

		<h3>Featured Prizes</h3>
		<div class = "featured-wrapper">
 			<%= render '/prizes/prizes_line_home' %>
		</div>
			
	</div>
	
	<div class = "home-right">
		<div class = "home-wrapper">
			<div class = "home-wrapper-title">Leaderboards</div>
				<%= render 'leaderboards' %>
			</div>
		</div>
	</div>