<table class = 'table table-striped table-condensed'>
  <tbody>
    <% @jobs.each do |j|  %>
    <tr>
      <td> <%= j.jobcode %> </td>
      <td> <%= j.title %> </td>
      <td> <%= link_to 'Select', { controller: :departments, action: :approver_add, number: @number, jobcode: j.jobcode, dept: @dept.id }, class: "btn btn-success" %> </td>
    </tr>
  <% end %>
  </tbody>
</table>