<% if @jobs_unassigned.nil? %>
	None.
<% else %>
<div class="table-responsive">
	<table class = "table table-condensed">
		<thead>
			<th>Job Title</th>
			<th>Job Code</th>
		</thead>
		<tbody>
			<% @jobs_unassigned.each do |j|  %>
				<tr class="warning">
					<td> <%= j.jobcode %> </td>
					<td> <%= j.title %> </td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% end %>