body {
   margin: 0px;
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-color: #393939;
   /*background-color: #282828;*/
   background-size: cover;
   color: #393939;
}

a:link, a:active, a:visited {
   color: #6e4589;
}

p { 
   line-height: 150%;
}

h2 {
   font-size: 24px;
   margin: 0px 0px 16px 16px;
   color: #393939;
}


div#header {
   width: 100%;
   position: relative;
   height: 150px;
   background-image: url("/images/banner_back.png");
/* background: #690E0E;
   background: -webkit-linear-gradient(#a71112, #640a0c); 
   background: -o-linear-gradient(#a71112, #640a0c); 
   background: -moz-linear-gradient(#a71112, #640a0c);
   background: linear-gradient(#a71112, #640a0c); */
   background-size: cover;
   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
   z-index: 1;
}

div#container {
   vertical-align: top;
   width: 100%;
   background-color: #282828;
   display: table;
   margin: 0 auto;
}

div#header_logo {
   width: 100%;
   height: 100%;
   vertical-align: middle;
}

#logo {
   height: 125px;
   width: 150px;
   display: block;
   margin: auto;
}

div#navigation {
   padding-top: 16px;
   vertical-align: top;
   background-color: #e6e6e6;
   width: 200px;
   display: table-cell;
}
div#navigation ul {
   list-style-type: none;
   margin: 16px 0px 32px 0px;
   padding: 0;
}
div#navigation li a {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 16px 0px 16px 32px;
    font-size: 14px;
    opacity: 0.86;
}
div#navigation li a:hover {
   background-color: #f6f6f6;
}

div#navigation h1 {
    margin-left: 8px;
    font-size: 14px;
    color: #000;
    opacity: 0.86;
}

div#content {
   border: solid 1px #cccccc;
   background-color: #ffffff;
   padding: 24px;
   display: table-cell;
}

div#content .split_2 {
  width: 50%;
  padding: 16px;
}

div#content h1 {
   font-size: 24px;
   margin-top: 15px;
   margin-left: 16px;
}

div.form-container {
   background-color: #FFFFFF;
   padding: 16px;
   border: 1px solid #CCCCCC;
   margin: 0px 8px 0px 8px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

div.form-container h2 {
   font-size: 16px;
   margin: 0px 0px 16px 0px;
   color: #393939;
}

div.form-container p {
  font-size: 14px;
}

div.form-container .form-note {
  font-size: 10px;
  margin: 0;
  font-style: italic;
}


div#employees-search {
  margin: 0px 0px 0px 16px;
}

/* Table Styles */
table#table_list {
   border: none;
   width: 95%;
   padding: 10px;
   margin: 0px 16px 0px 16px;
   border-collapse: collapse;
   cursor: pointer;
}

table#table_list .tr_list {
   border: 1px solid #ccc;
   color: #393939;
   font-size: 12px;
}

table#table_list .tr_list:hover {
   background-color: #f5f5f5;
   border: 1px solid #ccc;
   color: #393939;
   font-size: 12px;
}


table#table_list .tr-list-head {
   background: #5b3475;
   color: #F1F1F1;
}

table#table_list. td:last-child {
   white-space: nowrap;

}

table#table_list td:not(:last-child) {
   border-left: 0px;
   border-right: 0px;
   padding: 8px 8px 8px 16px;
}

ul#subjects li {
   display: inline;
   padding-left: 5px;
}

.sub-table {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  display: flex;
}

div.notice-error {
  padding: 16px;
  border: solid 1px #EF9A9A;
  border-radius: 6px;
  background-color: #FFCDD2;
  color: #EF5350;
  font-size: 14px;
  margin: 0px 16px 16px 16px;
}

div.notice-success {
  padding: 16px;
  border: solid 1px #A5D6A7;
  border-radius: 6px;
  background-color: #C8E6C9;
  color: #4CAF50;
  font-size: 14px;
  margin: 0px 16px 16px 16px;
}

/* Form Styles */
input { 
  border: 1px solid #aaaaaa;
  padding: 5px;
  border-radius: 5px;
}

input:focus {
  box-shadow: 0px 0px 3px #341a44;
  outline: none;
  border-radius: 5px;
}

input:read-only {
  border: 1px solid #eeeeee;
  outline: none;
  color: #393939;
}

input:read-only:focus {
  border: 1px solid #eeeeee;
  outline: none;
}

#textarea {
  background: #6c4388;
  padding: 5px 10px 5px 10px;
  color: #FFF;
}

input[type=submit] {
  background: #6c4388;
  padding: 5px 10px 5px 10px;
  color: #FFF;
}

input[type=submit]:hover {
  background: #7f5998;
  color: #FFF;
  cursor: pointer;
}

input[type=submit].large {
  padding: 0px 16px 0px 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

textarea {
  outline: none;
  padding: 5px;
  border-radius: 5px;
}
textarea:focus {
  box-shadow: 0px 0px 3px #341a44;
}

select {
  outline: none;
  padding: 5px;
  border-radius: 5px;
}
select:focus {
  box-shadow: 0px 0px 3px #341a44;
}


