<% if flash[:title] == "Error" %>
	<div class="notice-error"><%= flash[:notice] %></div>
<% elsif flash[:title] == "Success" %>
	<div class="notice-success"><%= flash[:notice] %></div>
<% end %>

<h1>Your Picked Up Orders</h1>

<div class = "table-wrapper">
		<%= render 'purchases_orders_pickedup' %>
</div>

<h1>Requested Prizes</h1>

<div class = "table-wrapper">
		<%= render 'purchases_orders' %>
</div>
