<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default panel-body">
        <% if flash[:title] == "Error" %>
          <div class="notice-error"><%= flash[:notice] %></div>
        <% elsif flash[:title] == "Success" %>
          <div class="notice-success"><%= flash[:notice] %></div>
        <% end %>

        <h1>Your Pending Orders and Reserved Prizes</h1>

        <div class = "table-wrapper">
            <%= render 'purchases_orders_personal' %>
        </div>
    </div>
  </div>
</div>

