<% if @purchases.blank? %>
	<p>None</p>
<% else %>
	<% @purchases.each do |p|  
		@prize = Prize.find(p.prize_id) %>
		<div class = "prize-list-container">
			<div class = "price-tag">$<%= @prize.cost %></div>
			<div class = "prize-content">
				<p><b><%= @prize.name %></b></p>
				<p><b>Purchased:</b> <br>
				<%= p.created_at %></p>
			</div>
		</div>
	<% end %>
<% end %>