<div class = "split_2">
<h2>Assign Job Codes to <%= @role.title %></h2>
	<div class = "table-wrapper-compact">
			<table class = "table-compact" id = "tables_roles_added">
				<%= render 'assigned_list' %>
			</table>
	</div>
</div>
<a href="/roles"><div class = "button-div">Finish</div></a>