<!-- START FLASH -->                     
<% if flash[:title] == "Error" %>
    <div class="alert alert-danger"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% elsif flash[:title] == "Success" %>
    <div class="alert alert-success"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% end %>
<!-- END FLASH -->

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>  
    <li>Admin</li>
    <li>Roles</li>             
</ul>
<!-- END BREADCRUMB -->  

<!-- START TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-check"></span> Administrator: Manage Roles and Permissions</h2>
</div>
<!-- END TITLE -->

<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-12 push-down-10">
    <a href="roles/new"><button class = "btn btn-primary">Add New Role</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-body">
          <%= render 'roles_list' %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default panel-body">
          <h3>Job Codes Without Assignments</h3>

          <%= render 'jobs/jobs_compact' %>
        </div>
    </div>
  </div>

</div>