<% if flash[:title] == "Error" %>
	<div class="notice-error"><%= flash[:notice] %></div>
<% elsif flash[:title] == "Success" %>
	<div class="notice-success"><%= flash[:notice] %></div>
<% end %>

<h1>Administrator: Manage Roles and Permissions</h1>

<a href="roles/new"><div class = "button-div">Add New Role</div></a>

<div class = "table-wrapper">
	<div id = "employees_table">
		<%= render 'roles_list' %>
	</div>
</div>

<h1>Job Codes Without Assignments</h1>

<div class = "table-wrapper">
	<div id = "employees_table">
		<%= render 'jobs/jobs_compact' %>
	</div>
</div>