 <div class="featured-home-wrapper">
    <div class="featured-home">
      <% if @featured.blank? %>
        <p>No prizes just yet!</p>
      <% else %>
        <% @featured.each do |p| %>
          <%= link_to controller: :prizes, action: :show, id: p.id do %>
          <img src="<%= p.get_first_image %>" class = "featured-image">
        <% end end %>
      <% end %>
    </div>
 </div>